---
const { placeholder, desc } = Astro.props;
---

<fieldset>
  <legend class="sr-only">{placeholder}</legend>
  <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:py-6">
    <div class="text-sm font-medium leading-6 text-gray-900" aria-hidden="true">{placeholder}</div>
    <div class="mt-4 sm:col-span-2 sm:mt-0">
      <div class="max-w-lg space-y-6">
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <input id={placeholder} name={placeholder} type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
          </div>
          <div class="text-sm leading-6">
            <p class="text-gray-600">{desc}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
